<div id="banner">
	<div class="banner_content">
		<h1>File Cabinet</h1>
		<p>Your life's work. Organized, always.</p>
		<button>
		  <%= link_to "Join Now", new_user_registration_path %>
		</button>
	</div>
</div>

<div id="callouts">
	<div class="callout_inner">
		<div class="wrapper">
			<div class="callout">
				<h2>Organize</h2>
				<p>Blue bottle church-key taxidermy, gastropub sustainable twee ramps sriracha gochujang. Polaroid actually VHS truffaut gochujang. Humblebrag yuccie mixtape kogi. Pop-up chartreuse echo park tacos.</p>
			</div>
		</div>
	</div>
</div>

<div id="bottom_cta">
	<div class="wrapper">
		<h2>Go Ahead!</h2>
		<br>
		<button>
		  <%= link_to "Join Now", new_user_registration_path %>
		</button>
	</div>
</div>